/* html *{
  box-sizing: border-box;
  border: 1px black solid;
} */

header{
  flex-direction: column;
  margin: 20px;
}

header h1{
  font-size: 50px;
  width: 100%;
  text-align: center;
  margin: 10px;
}

footer{
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}


.container{
  display: flex;

}  

.question-num-score{
  justify-content: space-evenly;
}

.generic-box {
  border: 1px solid black;
  justify-content: center;
  flex-direction: column;
  margin: 25px 5px;
  padding: 10px;
  text-align: center;
}

.generic-box button {
  margin: 30px 70px  ;
  padding: 7px 0;
  border: 1px black solid;
  text-align: center;
  font-size: 20px;
}
.generic-box p {
  font-size:20px; 
  margin: 5px;
}
.quiz-box{
  flex-direction: column;
  margin: 10px 0 10px 0;
  flex-wrap: wrap;
}


.quiz-box h2{
  margin: 10px 0;
  text-align: center;
  padding: 5px 0 5px 0;
  border: 1px black solid;
}

.quiz-box div{
  border: 1px black solid;
  padding: 5px;
  margin: 5px 0 5px 0;
}

.quiz-box label{
  
}

.submit-button{
  margin: 10px 10px 0 10px;
  padding: 10px 10px;
  border: 1px solid black;
  background: white; 
  justify-content: center;
}

div .submit-button{
  justify-content: center;
}

